*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.bg-container{
  background-image: url("https://res.cloudinary.com/dkfefpnio/image/upload/v1667745673/guillaume-galtier-3YrppYQPoCI-unsplash_xhmpcs.jpg");
  background-size: cover;
  height:100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container{
  background-color: beige;
  width:250px;
  padding:10px;
  border-radius: 9px;
  border: 0px;
  outline: none;
  display: flex;
  justify-content: space-between;
}

.input{
  border: 0px;
  outline: none;
  background-color: transparent;
}

.weather-container{
  background-image: linear-gradient(#9A7787,#E4AFB0,#FED7BF);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  padding:30px;
  margin-top:20px;
  border-radius: 10px;
  text-align: center;
}

.heading{
  font-size: 28px;
  color: whitesmoke;
}

.country{
  font-size: 12px;
  background: orange;
  color:white;
  border-radius:10px;
  padding:6px;
  margin-left: 6px;
}

.text{
  font-size: 24px;
  color: #9A7787;
}

.temp{
  color: aquamarine;
  margin-top:10px ;
}

.btn{
  background-color: coral;
  align-self: flex-end;
  border-width: 0px;
  color:white;
  padding:5px;
  border-radius: 4px;
}